*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-container{
  width: 100%;
  height: auto;
}
.header{
  width: 100%;
  height: 80px;
  padding: 20px;
}
.header ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header ul li{
  color: rgb(101, 187, 138);
  list-style: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
}
.banner-container{
  width: 100%;
  height: 99vh;
  position: relative;
}
.banner-container img{
  width:100%;
  height:100%;
}
.cover{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.description{
  width: 100%;
  height: 87%;
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.text-container{
  width: 40%;
  height: 100%;
  background-color: green;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.form-container{
  width: 40%;
  height: 100%;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
}
.text-container h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2.5rem;
  text-align: center;
  color: white;
  margin-top: 30px;
}
.text-container p{
  color: white;
  padding: 40px;
  margin-left: 10px;
}
button{
  color: black;
  width: 20%;
  padding: 10px;
  margin-left: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.form-container ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(198, 195, 195);
  width: 95%;
  padding: 15px;
  margin: auto;
  border-radius: 20px;
}
.form-container ul li{
  list-style: none;
}
.form-container span{
  background-color: white;
  padding: 5px 20px;
  border-radius: 20px;
}
.form-container h2{
  margin: 30px 0 0 40px;
}
.input{
  width: 90%;
  border: 2px solid rgb(182, 181, 181);
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  margin-top: 10px;
}
.button{
  width: 100%;
  height: auto;
  margin-top: 40px;
  display: flex;
}
.button button{
  width: 90%;
  padding: 20px 0;
  background-color: black;
  margin: auto;
  color: white;
  font-size: 1.3rem;
}